header{
    display: flex;
    justify-content: space-between;
}
.nav{
    position: relative;
    display: flex;
    height: inherit;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    background-color: white;
}
.nav__item {
    font-size: 1rem;
    color: black;
}
.nav__item:hover{
    background-color: #f93891;
    color: white;
    border-radius: 3px;
}
.menu-toogle::before {
    content:"";
}






.enunciado{
    font-size: 2.7rem;
}
.titular{
    padding: 0 90px 0 0;
}
.landing{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.landing > figure{
    padding: 20px 40px 0 0;
}
.preservativos-img{
    width: 100%;
}
