//colores del documento 
$color_de_fondo: #F4F3F8;
$color_letras: #333333;
$color_titulo:  rgba(220,1,85,1);

//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//mixins
@mixin caracteristicas_elementos_navegacion ($width, $right){
    width: $width;
    color: $color_letras;
    position: absolute;
    top: 0px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    opacity: 1;
    right: $right;
    text-align: left;
    
}

@mixin seudoclase_menu ($width, $color){
    position: absolute;
    content: '';
    border: solid;
    border-color: $color;
    bottom: -3px;
    width: $width;
    transition-duration: 0.5s;
}

@mixin items_navegacion($top, $width){
    color: $color_de_fondo;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    background-color: $color_titulo;
    height:25px;
	width:$width;
	float:left;
    margin: 10px;
    margin-top: $top;
}
//fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//Características del body para la página de inicio.
body{
    font-size: 16px;
    position: relative;
    max-width: 1780px;
    max-height: 1752px;
    background-color: $color_de_fondo;
}
nav{
    left: 30px;
}

nav a:link {
    text-decoration: none;
    color: $color_letras;
}

nav a:visited {
    text-decoration: none;
    color: $color_letras;
}

.barra_de_navegacion{
    position: relative;
    float: right;
    width: 100%;
    height: auto;
    top: 10px;
    margin-right: 15px;
}

#elementos_del_menu #inicio{
    @include caracteristicas_elementos_navegacion(48px,315px);
}
#elementos_del_menu #inicio::before{
    @include seudoclase_menu(36px, $color_de_fondo);
}
#elementos_del_menu #inicio:hover::before{
    @include seudoclase_menu(36px, $color_titulo);
}

#elementos_del_menu #publicaciones{
    @include caracteristicas_elementos_navegacion(126px,165px);
}
#elementos_del_menu #publicaciones::before{
    @include seudoclase_menu (103px, $color_de_fondo);
}
#elementos_del_menu #publicaciones:hover::before{
    @include seudoclase_menu (103px, $color_titulo);
}

#elementos_del_menu #nosotros{
    @include caracteristicas_elementos_navegacion(136px, 5px);
}
#elementos_del_menu #nosotros::before{
    @include seudoclase_menu (108px, $color_de_fondo);
}
#elementos_del_menu #nosotros:hover ::before{
    @include seudoclase_menu (108px, $color_titulo);
}

#titulo{
    max-width: 671px;
    color: $color_titulo;
    position: absolute;
    top: 0px;
    left: 30px;
    font-family: Poppins;
    font-size: 2vmax;
    opacity: 1;
    text-align: left;
}

.publicaciones{
    top: 35px;
    width: 100%;
    height: 35px;
    position: absolute;
    font-family: Roboto;
    left: 30px;

}

.publicaciones #titulo_publicaciones{
    font-size: 60px;
    color: $color_titulo;
    font-family: Bebas Neue;

}

.publicaciones #formulario_busqueda{
    position: relative;
    right: 35px;
    float: right;
    margin-top: -120px;
}

.publicaciones #formulario_busqueda input[type="search"]{
	width:300px;
    height: 30px;
    border:1px solid $color_titulo;
    color: $color_titulo;
	border-radius:4px;
	margin:8px 0;
	display:inline-block;
}

.publicaciones #formulario_busqueda input[type="submit"]{
	width: 85px;
    text-align: center;
    height: 30px;
	border:1px solid $color_titulo;
	border-radius:5px;
	color:$color_de_fondo;
	background-color: $color_titulo;
} 

::placeholder{
    color: $color_titulo;
    opacity: 0.5;
}

.navegacion{
    position: absolute;
    margin-top: 200px;
    width:100%;
    display:flex;
    justify-content: space-between;
}


#items_navegacion1{
    @include items_navegacion(0,25%);
}
#items_navegacion2{
    @include items_navegacion(0,25%);
}
#items_navegacion3{
    @include items_navegacion(0,25%);
}
#items_navegacion4{
    @include items_navegacion(0,25%);
}

.navegacion a:link {
    vertical-align: middle;
    text-decoration: none;
    color: $color_de_fondo;
}

.navegacion a:visited {
    vertical-align: middle;
    text-decoration: none;
    color: $color_de_fondo;
}

.elementos_aside{
    display: block;
    background-color: $color_titulo;
    height: auto;
    float: right;
    margin-top: 250px;
    width: 25%;
}


.elementos_aside #titulo_aside{
    margin-left: 25px;
    font-family: roboto;
    color: $color_de_fondo;
}

.elementos_aside #podcast #doly{
    position: relative;
    left: 8%;
    width: 85%;
    max-width: 348px;
    max-height: 196px;
}

.divisores_aside{
    opacity: 0.8;
    color: $color_titulo;
    width: 92%;
}

.texto_aside{
    margin: 5px;
}



//elementos cambiantes para responsive.
@media screen and (max-width: 800px) {
    .navegacion{
        position: absolute;
        margin-top: 200px;
        width: 100%;
        flex-direction: column;
    }
    #items_navegacion1{
        @include items_navegacion(0,100%);
    }
    #items_navegacion2{
        @include items_navegacion(0,100%);
    }
    #items_navegacion3{
        @include items_navegacion(0,100%);
    }
    #items_navegacion4{
        @include items_navegacion(0,100%);
    }



    .elementos_aside{
        position: absolute;
        background-color: $color_titulo;
        height: auto;
        float: right;
        margin-bottom: 0px;
        margin-top: 100%;
        width:100%;
        display:flex;
    }
}

