//colores del documento 
$color_de_fondo: #F4F3F8;
$color_letras: #333333;
$color_titulo:  rgba(220,1,85,1);

//fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// mixins
@mixin elementos_del_menu($width, $right){
    width: $width;
    color: $color_letras;
    position: absolute;
    top: 0px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1rem;
    opacity: 1;
    right: $right;
    text-align: left;
}

@mixin seudoclase_menu ($width, $color){
    position: absolute;
    content: '';
    border: solid;
    border-color: $color;
    bottom: -3px;
    width: $width;
    transition-duration: 0.5s;
}
@mixin imagenes($width){
    max-width: 128px;
    max-height: 105px;
    width: $width;
    height: auto;
    justify-self: center;
}

body{
    width: 100%;
    position: relative;
    background-color: $color_de_fondo;
    font-size: 16px;
}

.titulo{
    max-width: 671px;
    color: $color_titulo;
    position: absolute;
    top: 0px;
    left: 30px;
    font-family: Poppins;
    font-size: 2vmax;
    opacity: 1;
    text-align: left;
}

header{
    display: flex;
    justify-content: space-between;
}

.nav{
    height: 158px;
    top: 10px;
    margin-right: 5px;
    position: relative;
    display: flex;
    height: inherit;
    flex-direction: row;
    background-color: $color_de_fondo;
}

.menu-toogle {
    position:absolute; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
    width: 35px;
    line-height:1.1;
    text-align:center;
    top:6.5px; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
    right: 8px; 
    border-radius:3px;
    background-color: $color_titulo;
}
/*Añadimos la haburguesa y le damos unos estilos*/
.menu-toogle::before {
    content:"";
}
.checkbox{
    display: block;
}
nav a:link {
    text-decoration: none;
    color: $color_letras;
}

nav a:visited {
    text-decoration: none;
    color: $color_letras;
}

.nav .inicio{
    @include elementos_del_menu(40px, 315px);
}
.nav .inicio::before{
    @include seudoclase_menu(36px, $color_de_fondo);
}
.nav .inicio:hover::before{
    @include seudoclase_menu(36px, $color_titulo);
}

.nav .publicaciones{
    @include elementos_del_menu(115px, 165px);
}
.nav .publicaciones::before{
    @include seudoclase_menu (103px, $color_de_fondo);
}
.nav .publicaciones:hover::before{
    @include seudoclase_menu (103px, $color_titulo);
}

.nav .sobre_nosotros{
    @include elementos_del_menu(130px, 5px);
}
.nav .sobre_nosotros::before{
    @include seudoclase_menu (108px, $color_de_fondo);
}
.nav .sobre_nosotros:hover::before{
    @include seudoclase_menu (108px, $color_titulo);
}

#titulo_principal{
    max-width: 671px;
    color: $color_titulo;
    position: absolute;
    top: 20px;
    left: 30px;
    font-family: Bebas Neue;
    font-size: 5vmax;
    opacity: 1;
    text-align: left;
}


.quienes_somos {
    position: absolute;
    margin-top: 15vmax;
    width: 75%;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    background-color: $color_titulo;
    font-family: Bebas Neue;
    font-size: 2vmax;
    z-index: 1;
}
  
.quienes_somos .imagen {
    float: left;
    margin: 15px;
}

.quienes_somos .texto{
    padding: 15px;
    color: $color_de_fondo;
}
@media  screen and (min-width: 1000px) {
    .contenedor_grid_imagenes{
        margin-top: 500px;
        place-content: center;
    }
}
.contenedor_grid_imagenes{
    place-content: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: auto auto;
    column-gap: 5vmax;
    row-gap: 5vmax;
}

.contenedor_grid_imagenes #img1{
    @include imagenes(128px);
}
.contenedor_grid_imagenes #img2{
    @include imagenes(128px);
}
.contenedor_grid_imagenes #img3{
    @include imagenes(128px);
}
.contenedor_grid_imagenes #img4{
    @include imagenes(128px);
}
.contenedor_grid_imagenes #img5{
    @include imagenes(128px);
}
.contenedor_grid_imagenes #img6{
    @include imagenes(128px);
}
.contenedor_grid_imagenes #img7{
    @include imagenes(128px);
}
.contenedor_grid_imagenes #img8{
    @include imagenes(128px);
}

@media screen and (max-width: 1000px){
    .contenedor_grid_imagenes{
        margin-top: 350px;
    }
    .contenedor_grid_imagenes #img1{
        @include imagenes(120px);
    }
    .contenedor_grid_imagenes #img2{
        @include imagenes(120px);
    }
    .contenedor_grid_imagenes #img3{
        @include imagenes(120px);
    }
    .contenedor_grid_imagenes #img4{
        @include imagenes(120px);
    }
    .contenedor_grid_imagenes #img5{
        @include imagenes(120px);
    }
    .contenedor_grid_imagenes #img6{
        @include imagenes(120px);
    }
    .contenedor_grid_imagenes #img7{
        @include imagenes(120px);
    }
    .contenedor_grid_imagenes #img8{
        @include imagenes(120px);
    }
}
