//colores del documento 
$color_de_fondo: #F4F3F8;
$color_letras: #333333;
$color_titulo:  rgba(220,1,85,1);
//fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@mixin imagenes(){
    width: 28px;
    height: 25px;
}
@mixin elementos_del_menu($width, $top){
    right: 250px;
    color:$color_de_fondo;
    font-size: xx-large;
    width: $width;
    position: absolute;
    top: $top;
    font-family: Poppins;
    font-weight: 400;
    opacity: 1;
    text-align: left;
}
@mixin seudoclase_menu ($width, $color){
    position: absolute;
    content: '';
    border: solid;
    border-color: $color;
    bottom: -3px;
    width: $width;
    transition-duration: 0.5s;
}

.nav {
    margin-top: 3rem;
    position:absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:45vh;
    height:55vh;
    background-color: $color_titulo;
}
/*Estilos de los li del menú*/

.menu-toogle::before {
    content:"☰";
    font-size:32px;
    color:$color_de_fondo;
}
.checkbox {
    display:none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
}
.checkbox:checked ~ .nav {
    right:0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
    display: flex;
}

header .nav .inicio{
    @include elementos_del_menu(40px, 50px);
}
.nav .inicio::before{
    @include seudoclase_menu(36px, $color_titulo);
}
.nav .inicio:hover::before{
    @include seudoclase_menu(36px, $color_titulo);
}

header .nav .publicaciones{
    @include elementos_del_menu(30px, 150px);
}
.nav .publicaciones::before{
    @include seudoclase_menu (103px, $color_titulo);
}
.nav .publicaciones:hover::before{
    @include seudoclase_menu (103px, $color_titulo);
}

header .nav .sobre_nosotros{
    @include elementos_del_menu(45px, 250px);
}
.nav .sobre_nosotros::before{
    @include seudoclase_menu (108px, $color_titulo);
}
.nav .sobre_nosotros:hover::before{
    @include seudoclase_menu (108px, $color_titulo);
}



.contenedor_grid_imagenes{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: auto auto;
    column-gap: 5vmax;
    row-gap: 5vmax;
}

.contenedor_grid_imagenes #img1{
    @include imagenes();
}
.contenedor_grid_imagenes #img2{
    @include imagenes();
}
.contenedor_grid_imagenes #img3{
    @include imagenes();
}
.contenedor_grid_imagenes #img4{
    @include imagenes();
}
.contenedor_grid_imagenes #img5{
    @include imagenes();
}
.contenedor_grid_imagenes #img6{
    @include imagenes();
}
.contenedor_grid_imagenes #img7{
    @include imagenes();
}
.contenedor_grid_imagenes #img8{
    @include imagenes();
}