@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.nav {
  margin-top: 3rem;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 45vh;
  height: 55vh;
  background-color: rgb(220, 1, 85);
  z-index: 2;
}

/*Estilos de los li del menú*/
.menu-toogle::before {
  content: "☰";
  font-size: 32px;
  color: #F4F3F8;
}

.checkbox {
  display: none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
}

.checkbox:checked ~ .nav {
  right: 0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
  display: flex;
}

header .nav .inicio {
  right: 250px;
  color: #F4F3F8;
  font-size: xx-large;
  width: 40px;
  position: absolute;
  top: 50px;
  font-family: Poppins;
  font-weight: 400;
  opacity: 1;
  text-align: left;
}

.nav .inicio::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: rgb(220, 1, 85);
  bottom: -3px;
  width: 36px;
  transition-duration: 0.5s;
}

.nav .inicio:hover::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: rgb(220, 1, 85);
  bottom: -3px;
  width: 36px;
  transition-duration: 0.5s;
}

header .nav .publicaciones {
  right: 250px;
  color: #F4F3F8;
  font-size: xx-large;
  width: 30px;
  position: absolute;
  top: 150px;
  font-family: Poppins;
  font-weight: 400;
  opacity: 1;
  text-align: left;
}

.nav .publicaciones::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: rgb(220, 1, 85);
  bottom: -3px;
  width: 103px;
  transition-duration: 0.5s;
}

.nav .publicaciones:hover::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: rgb(220, 1, 85);
  bottom: -3px;
  width: 103px;
  transition-duration: 0.5s;
}

header .nav .sobre_nosotros {
  right: 250px;
  color: #F4F3F8;
  font-size: xx-large;
  width: 45px;
  position: absolute;
  top: 250px;
  font-family: Poppins;
  font-weight: 400;
  opacity: 1;
  text-align: left;
}

.nav .sobre_nosotros::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: rgb(220, 1, 85);
  bottom: -3px;
  width: 108px;
  transition-duration: 0.5s;
}

.nav .sobre_nosotros:hover::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: rgb(220, 1, 85);
  bottom: -3px;
  width: 108px;
  transition-duration: 0.5s;
}

.contenedor_grid_imagenes {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: auto auto;
  -moz-column-gap: 5vmax;
       column-gap: 5vmax;
  row-gap: 5vmax;
}

.contenedor_grid_imagenes #img1 {
  width: 28px;
  height: 25px;
}

.contenedor_grid_imagenes #img2 {
  width: 28px;
  height: 25px;
}

.contenedor_grid_imagenes #img3 {
  width: 28px;
  height: 25px;
}

.contenedor_grid_imagenes #img4 {
  width: 28px;
  height: 25px;
}

.contenedor_grid_imagenes #img5 {
  width: 28px;
  height: 25px;
}

.contenedor_grid_imagenes #img6 {
  width: 28px;
  height: 25px;
}

.contenedor_grid_imagenes #img7 {
  width: 28px;
  height: 25px;
}

.contenedor_grid_imagenes #img8 {
  width: 28px;
  height: 25px;
}/*# sourceMappingURL=media.css.map */