@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.barra_de_navegacion #elementos_del_menu {
  position: absolute;
  display: none;
  align-items: center;
  width: 300px;
  height: 350px;
  background-color: rgb(220, 1, 85);
}

#titulo {
  max-width: 671px;
  color: rgb(220, 1, 85);
  position: absolute;
  top: 0px;
  left: 30px;
  font-family: Poppins;
  font-size: 2vmax;
  opacity: 1;
  text-align: left;
}

main header .barra_de_navegacion #elementos_del_menu #inicio {
  /*Estilos de los li del menú*/
  text-decoration: none;
  font-family: Poppins;
  color: white;
}

main header .barra_de_navegacion #elementos_del_menu #publicaciones {
  /*Estilos de los li del menú*/
  text-decoration: none;
  font-family: Poppins;
  color: white;
}

main header .barra_de_navegacion #elementos_del_menu #nosotros {
  /*Estilos de los li del menú*/
  text-decoration: none;
  font-family: Poppins;
  color: white;
}

main header .barra_de_navegacion #elementos_del_menu #inicio::before {
  display: none;
}

main header .barra_de_navegacion #elementos_del_menu #publicaciones::before {
  display: none;
}

main header .barra_de_navegacion #elementos_del_menu #nosotros::before {
  display: none;
}

main header .barra_de_navegacion #elementos_del_menu #inicio:hover::before {
  display: none;
}

main header .barra_de_navegacion #elementos_del_menu #publicaciones:hover::before {
  display: none;
}

main header .barra_de_navegacion #elementos_del_menu #nosotros:hover::before {
  display: none;
}

.navegacion {
  position: absolute;
  margin-top: 200px;
  width: 100%;
  flex-direction: column;
}

#items_navegacion1 {
  color: #F4F3F8;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(220, 1, 85);
  height: 25px;
  width: 100%;
  float: left;
  margin: 10px;
  margin-top: 0;
  display: block;
}

#items_navegacion2 {
  color: #F4F3F8;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(220, 1, 85);
  height: 25px;
  width: 100%;
  float: left;
  margin: 10px;
  margin-top: 0;
  display: block;
}

#items_navegacion3 {
  color: #F4F3F8;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(220, 1, 85);
  height: 25px;
  width: 100%;
  float: left;
  margin: 10px;
  margin-top: 0;
  display: block;
}

#items_navegacion4 {
  color: #F4F3F8;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(220, 1, 85);
  height: 25px;
  width: 100%;
  float: left;
  margin: 10px;
  margin-top: 0;
  display: block;
}

.elementos_aside {
  display: none;
}

.divisores_aside {
  display: none;
}

.menu-toogle {
  display: block;
  position: absolute; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
  width: 35px;
  line-height: 1.1;
  text-align: center;
  top: 0px; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
  right: 30px;
  border-radius: 3px;
  background-color: rgb(220, 1, 85);
}

.menu-toogle::before {
  content: "☰";
  font-size: 32px;
  color: #F4F3F8;
}

.checkbox:checked ~ .barra_de_navegacion #elementos_del_menu {
  top: 45px;
  right: 0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
  display: block;
}

.checkbox:checked ~ .elementos_de_la_navegacion .navegacion {
  display: none;
}

.checkbox:checked ~ .elementos_de_la_navegacion .navegacion .items_navegacion1 {
  display: none;
}

.checkbox:checked ~ .elementos_de_la_navegacion .items_navegacion2 {
  display: none;
}

.checkbox:checked ~ .elementos_de_la_navegacion .items_navegacion3 {
  display: none;
}

.checkbox:checked ~ .elementos_de_la_navegacion .items_navegacion4 {
  display: none;
}

.barra_de_navegacion #elementos_del_menu a {
  color: #F4F3F8;
}

.checkbox:checked ~ .barra_de_navegacion #elementos_del_menu #inicio {
  position: absolute;
  font-size: xx-large;
  justify-self: center;
  margin-top: 30px;
  right: 155px;
}

.checkbox:checked ~ .barra_de_navegacion #elementos_del_menu #publicaciones {
  position: absolute;
  font-size: xx-large;
  justify-self: center;
  margin-top: 90px;
  right: 145px;
}

.checkbox:checked ~ .barra_de_navegacion #elementos_del_menu #nosotros {
  position: absolute;
  font-size: xx-large;
  justify-self: center;
  margin-top: 160px;
  right: 85px;
}/*# sourceMappingURL=media.css.map */