//colores del documento 
$color_de_fondo: #F4F3F8;
$color_letras: #333333;
$color_titulo:  rgba(220,1,85,1);

//mixins
@mixin caracteristicas_elementos_navegacion ($width, $right){
    width: $width;
    color: $color_letras;
    position: absolute;
    top: 0px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    opacity: 1;
    right: $right;
    text-align: left;
    
}

@mixin seudoclase_menu ($width, $color){
    position: absolute;
    content: '';
    border: solid;
    border-color: $color;
    bottom: -3px;
    width: $width;
    transition-duration: 0.5s;
}

@mixin sombras($width, $height, $top, $intensidad){
    position: absolute;
    box-sizing: border-box;
    background: $color_titulo;
    opacity: 0.23;
    width: $width;
    height: $height;  
    border-radius: 50%;
    top:$top;
    filter: blur($intensidad);
}
//fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//Características del body para la página de inicio.
body{
    width: 100%;
    position: relative;
    background-color: $color_de_fondo;
    font-size: 16px;
}

nav a:link {
    text-decoration: none;
    color: $color_letras;
}

nav a:visited {
    text-decoration: none;
    color: $color_letras;
}

.barra_de_navegacion{
    position: relative;
    float: right;
    width: 100%;
    height: 158px;
    top: 10px;
    margin-right: 5px;
}

.barra_de_navegacion #elementos_del_menu #inicio{
    @include caracteristicas_elementos_navegacion(40px,315px);
}
.barra_de_navegacion #elementos_del_menu #inicio::before{
    @include seudoclase_menu(36px, $color_de_fondo);
}
.barra_de_navegacion #elementos_del_menu #inicio:hover::before{
    @include seudoclase_menu(36px, $color_titulo);
}

.barra_de_navegacion #elementos_del_menu #publicaciones{
    @include caracteristicas_elementos_navegacion(115px,165px);
}
.barra_de_navegacion #elementos_del_menu #publicaciones::before{
    @include seudoclase_menu (103px, $color_de_fondo);
}
.barra_de_navegacion #elementos_del_menu #publicaciones:hover::before{
    @include seudoclase_menu (103px, $color_titulo);
}

.barra_de_navegacion #elementos_del_menu #nosotros{
    @include caracteristicas_elementos_navegacion(130px, 5px);
}
.barra_de_navegacion #elementos_del_menu #nosotros::before{
    @include seudoclase_menu (108px, $color_de_fondo);
}
.barra_de_navegacion #elementos_del_menu #nosotros:hover ::before{
    @include seudoclase_menu (108px, $color_titulo);
}

#titulo{
    max-width: 671px;
    color: $color_titulo;
    position: absolute;
    top: 0px;
    left: 30px;
    font-family: Poppins;
    font-size: 2vmax;
    opacity: 1;
    text-align: left;
}

.aviso_principal{
    width: 100%;
    height: 420px;
}

.aviso_principal #aviso{
    max-width: 784px;
    position: absolute;
    height: auto;
    color: $color_titulo;
    top: 100px;
    left: 30px;
    font-family: Bebas Neue;
    font-size: 8vw;
    text-align: left;
}

.aviso_principal #imagen_preservativos{
    position: absolute;
    top: 130px;
    float: right;
    right: 15px;
    max-width: 375px;
    max-height: 369px;
    width: 30%;
}

.aviso_principal #sombras1{
    @include sombras(100%, 500px, 10vh, 100px);
}

.aviso_principal #sombras2{
    right: 5px;
    @include sombras(35%, 200px, 55vh, 75px)
}

.icono_menu{
    display: none;
}

@media screen and (max-width: 800px){
    .barra_de_navegacion{
        top: -45px;
        right: 30px;
    }
    .icono_menu{
        display: block;
    }
    .icono_menu .boton{
        top: -15px;
        display:block;
		padding:20px;
		color:#000;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
        float: right;
    }
}