//colores del documento 
$color_de_fondo: #F4F3F8;
$color_letras: #333333;
$color_titulo:  rgba(220,1,85,1);

//mixins
@mixin caracteristicas_elementos_navegacion ($width, $right){
    width: $width;
    color: $color_letras;
    position: absolute;
    top: 0px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    opacity: 1;
    right: $right;
    text-align: left;
    
}

@mixin seudoclase_menu ($width, $color){
    position: absolute;
    content: '';
    border: solid;
    border-color: $color;
    bottom: -3px;
    width: $width;
    transition-duration: 0.5s;
}

@mixin sombras($width, $height, $top, $intensidad){
    position: absolute;
    box-sizing: border-box;
    background: $color_titulo;
    opacity: 0.23;
    width: $width;
    height: $height;  
    border-radius: 50%;
    top:$top;
    filter: blur($intensidad);
}
//fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//Características del body para la página de inicio.
body{
    width: 100%;
    position: relative;
    background-color: $color_de_fondo;
    font-size: 16px;
}

nav a:link {
    text-decoration: none;
    color: $color_letras;
}

nav a:visited {
    text-decoration: none;
    color: $color_letras;
}

.barra_de_navegacion{
    position:relative;
    float: right;
    width: 100%;
    height: 158px;
    top: 10px;
    margin-right: 5px;
}

.barra_de_navegacion #elementos_del_menu #inicio{
    @include caracteristicas_elementos_navegacion(40px,315px);
}
.barra_de_navegacion #elementos_del_menu #inicio::before{
    @include seudoclase_menu(36px, $color_de_fondo);
}
.barra_de_navegacion #elementos_del_menu #inicio:hover::before{
    @include seudoclase_menu(36px, $color_titulo);
}

.barra_de_navegacion #elementos_del_menu #publicaciones{
    @include caracteristicas_elementos_navegacion(115px,165px);
}
.barra_de_navegacion #elementos_del_menu #publicaciones::before{
    @include seudoclase_menu (103px, $color_de_fondo);
}
.barra_de_navegacion #elementos_del_menu #publicaciones:hover::before{
    @include seudoclase_menu (103px, $color_titulo);
}

.barra_de_navegacion #elementos_del_menu #nosotros{
    @include caracteristicas_elementos_navegacion(130px, 5px);
}
.barra_de_navegacion #elementos_del_menu #nosotros::before{
    @include seudoclase_menu (108px, $color_de_fondo);
}
.barra_de_navegacion #elementos_del_menu #nosotros:hover ::before{
    @include seudoclase_menu (108px, $color_titulo);
}
.menu-toogle {
    display: none;
    position:absolute; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
    width: 35px;
    line-height:1.1;
    text-align:center;
    top:6.5px; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
    right: 8px; 
    border-radius:3px;
    background-color: $color_titulo;
}
/*Añadimos la haburguesa y le damos unos estilos*/
.menu-toogle::before {
    content:"☰";
    font-size:32px;
    color:white;
}
.checkbox {
    display:none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
}
.checkbox:checked ~ .nav {
    right:0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
    display: flex;
}
#titulo{
    max-width: 671px;
    color: $color_titulo;
    position: absolute;
    top: 0px;
    left: 30px;
    font-family: Poppins;
    font-size: 2vmax;
    opacity: 1;
    text-align: left;
}

.aviso_principal{
    width: 100%;
    height: 420px;
}

.aviso_principal #aviso{
    max-width: 745px;
    max-height: 450px;
    position: absolute;
    height: auto;
    color: $color_titulo;
    top: 100px;
    left: 30px;
    font-family: Bebas Neue;
    font-size: 7vw;
    text-align: left;
}

.aviso_principal #imagen_preservativos{
    position: absolute;
    top: 130px;
    float: right;
    right: 15px;
    max-width: 375px;
    max-height: 369px;
    width: 30%;
}

.aviso_principal #sombras1{
    @include sombras(100%, 500px, 10vh, 100px);
}

.aviso_principal #sombras2{
    right: 5px;
    @include sombras(35%, 200px, 55vh, 75px)
}



.busqueda-form{
    margin-top: 20px;
}
.busqueda{
    display: flex;
    justify-content: space-evenly;
}
.busqueda__input{
    height: 30px;
    width: 65%;
    max-width: 400px;
    border: 2px solid $color_titulo;
    border-radius: 4px;
    font-size: 1rem;
}
.busqueda__input::placeholder{
    color: $color_titulo;
}
.busqueda__btn{
    height: 30px;
    width: 25%;
    max-width: 150px;
    padding: 0 1px;
    background-color: va$color_titulo;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 4px;
    border: 2px solid $color_titulo;
}
.temas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 25px;
}
.temas__contenedor{
    background-color: var(--primary-color);
    word-wrap: break-word;
    width: 80%;
    max-width: 225px;
    margin: 15px 0;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 25px;
}
.temas__contenedor img{
    width: 90%;
}



.dudas{
    top: 37rem;
    position: absolute;
    width:300px;
	margin: 0 0 0 30px;
}

.dudas input[type="text"]{
	width:300px;
    height: 30px;
    border:1px solid $color_titulo;
    color: $color_titulo;
	border-radius:4px;
	margin:8px 0;
}

.dudas input[type="submit"]{
	width: 85px;
    text-align: center;
    height: 30px;
	border:1px solid $color_titulo;
	border-radius:5px;
	color:$color_de_fondo;
	background-color: $color_titulo;
} 

::placeholder{
    color: $color_titulo;
    opacity: 0.5;
}


.contenidos{
    position: absolute;
    margin-top: 280px;
    width:100%;
    display:flex;
    justify-content: space-between;
}

#items{
    font-family: Bebas Neue;
    border-radius: 15px;
    color: $color_de_fondo;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    background-color: $color_titulo;
    height: 260px;
	width:25%;
	float:left;
	margin: 30px;
}

@media screen and (min-width: 1700px){
    .aviso_principal #aviso{
        font-size: 120px;
    }  
    

}

@media screen and (min-width: 1100px){
    .busqueda-form{
        padding-top: 230px;
    } 
}


.busqueda-form{
    margin-top: 50px;
}
.busqueda{
    display: flex;
    justify-content: space-evenly;
}
.busqueda__input{
    height: 30px;
    width: 65%;
    max-width: 400px;
    border: 2px solid $color_titulo;
    border-radius: 4px;
    font-size: 1rem;
}
.busqueda__input::placeholder{
    color: $color_titulo;
}
.busqueda__btn{
    height: 30px;
    width: 25%;
    max-width: 150px;
    padding: 0 1px;
    background-color: $color_titulo;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 4px;
    border: 2px solid $color_titulo;
}
.temas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
    padding: 80px 25px;
}
.temas__contenedor{
    background-color: $color_titulo;
    word-wrap: break-word;
    width: 80%;
    max-width: 225px;
    margin: 15px 0;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 25px;
}
.temas__contenedor img{
    width: 90%;
}
