@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  width: 100%;
  position: relative;
  background-color: #F4F3F8;
  font-size: 16px;
}

nav a:link {
  text-decoration: none;
  color: #333333;
}

nav a:visited {
  text-decoration: none;
  color: #333333;
}

.barra_de_navegacion {
  position: relative;
  float: right;
  width: 100%;
  height: 158px;
  top: 10px;
  margin-right: 5px;
}

.barra_de_navegacion #elementos_del_menu #inicio {
  width: 40px;
  color: #333333;
  position: absolute;
  top: 0px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  opacity: 1;
  right: 315px;
  text-align: left;
}

.barra_de_navegacion #elementos_del_menu #inicio::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: #F4F3F8;
  bottom: -3px;
  width: 36px;
  transition-duration: 0.5s;
}

.barra_de_navegacion #elementos_del_menu #inicio:hover::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: rgb(220, 1, 85);
  bottom: -3px;
  width: 36px;
  transition-duration: 0.5s;
}

.barra_de_navegacion #elementos_del_menu #publicaciones {
  width: 115px;
  color: #333333;
  position: absolute;
  top: 0px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  opacity: 1;
  right: 165px;
  text-align: left;
}

.barra_de_navegacion #elementos_del_menu #publicaciones::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: #F4F3F8;
  bottom: -3px;
  width: 103px;
  transition-duration: 0.5s;
}

.barra_de_navegacion #elementos_del_menu #publicaciones:hover::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: rgb(220, 1, 85);
  bottom: -3px;
  width: 103px;
  transition-duration: 0.5s;
}

.barra_de_navegacion #elementos_del_menu #nosotros {
  width: 130px;
  color: #333333;
  position: absolute;
  top: 0px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  opacity: 1;
  right: 5px;
  text-align: left;
}

.barra_de_navegacion #elementos_del_menu #nosotros::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: #F4F3F8;
  bottom: -3px;
  width: 108px;
  transition-duration: 0.5s;
}

.barra_de_navegacion #elementos_del_menu #nosotros:hover ::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: rgb(220, 1, 85);
  bottom: -3px;
  width: 108px;
  transition-duration: 0.5s;
}

#titulo {
  max-width: 671px;
  color: rgb(220, 1, 85);
  position: absolute;
  top: 0px;
  left: 30px;
  font-family: Poppins;
  font-size: 2vmax;
  opacity: 1;
  text-align: left;
}

.aviso_principal {
  width: 100%;
  height: 420px;
}

.aviso_principal #aviso {
  max-width: 784px;
  position: absolute;
  height: auto;
  color: rgb(220, 1, 85);
  top: 100px;
  left: 30px;
  font-family: Bebas Neue;
  font-size: 8vw;
  text-align: left;
}

.aviso_principal #imagen_preservativos {
  position: absolute;
  top: 130px;
  float: right;
  right: 15px;
  max-width: 375px;
  max-height: 369px;
  width: 30%;
}

.aviso_principal #sombras1 {
  position: absolute;
  box-sizing: border-box;
  background: rgb(220, 1, 85);
  opacity: 0.23;
  width: 100%;
  height: 500px;
  border-radius: 50%;
  top: 10vh;
  filter: blur(100px);
}

.aviso_principal #sombras2 {
  right: 5px;
  position: absolute;
  box-sizing: border-box;
  background: rgb(220, 1, 85);
  opacity: 0.23;
  width: 35%;
  height: 200px;
  border-radius: 50%;
  top: 55vh;
  filter: blur(75px);
}

.icono_menu {
  display: none;
}

@media screen and (max-width: 800px) {
  .barra_de_navegacion {
    top: -45px;
    right: 30px;
  }
  .icono_menu {
    display: block;
  }
  .icono_menu .boton {
    top: -15px;
    display: block;
    padding: 20px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    float: right;
  }
}/*# sourceMappingURL=inicio.css.map */