@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  width: 100%;
  position: relative;
  background-color: #F4F3F8;
  font-size: 16px;
}

nav a:link {
  text-decoration: none;
  color: #333333;
}

nav a:visited {
  text-decoration: none;
  color: #333333;
}

.barra_de_navegacion {
  position: relative;
  float: right;
  width: 100%;
  height: 158px;
  top: 10px;
  margin-right: 5px;
}

.barra_de_navegacion #elementos_del_menu #inicio {
  width: 40px;
  color: #333333;
  position: absolute;
  top: 0px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  opacity: 1;
  right: 315px;
  text-align: left;
}

.barra_de_navegacion #elementos_del_menu #inicio::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: #F4F3F8;
  bottom: -3px;
  width: 36px;
  transition-duration: 0.5s;
}

.barra_de_navegacion #elementos_del_menu #inicio:hover::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: rgb(220, 1, 85);
  bottom: -3px;
  width: 36px;
  transition-duration: 0.5s;
}

.barra_de_navegacion #elementos_del_menu #publicaciones {
  width: 115px;
  color: #333333;
  position: absolute;
  top: 0px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  opacity: 1;
  right: 165px;
  text-align: left;
}

.barra_de_navegacion #elementos_del_menu #publicaciones::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: #F4F3F8;
  bottom: -3px;
  width: 103px;
  transition-duration: 0.5s;
}

.barra_de_navegacion #elementos_del_menu #publicaciones:hover::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: rgb(220, 1, 85);
  bottom: -3px;
  width: 103px;
  transition-duration: 0.5s;
}

.barra_de_navegacion #elementos_del_menu #nosotros {
  width: 130px;
  color: #333333;
  position: absolute;
  top: 0px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  opacity: 1;
  right: 5px;
  text-align: left;
}

.barra_de_navegacion #elementos_del_menu #nosotros::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: #F4F3F8;
  bottom: -3px;
  width: 108px;
  transition-duration: 0.5s;
}

.barra_de_navegacion #elementos_del_menu #nosotros:hover ::before {
  position: absolute;
  content: "";
  border: solid;
  border-color: rgb(220, 1, 85);
  bottom: -3px;
  width: 108px;
  transition-duration: 0.5s;
}

.menu-toogle {
  display: none;
  position: absolute; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
  width: 35px;
  line-height: 1.1;
  text-align: center;
  top: 6.5px; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
  right: 8px;
  border-radius: 3px;
  background-color: rgb(220, 1, 85);
}

/*Añadimos la haburguesa y le damos unos estilos*/
.menu-toogle::before {
  content: "☰";
  font-size: 32px;
  color: white;
}

.checkbox {
  display: none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
}

.checkbox:checked ~ .nav {
  right: 0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
  display: flex;
}

#titulo {
  max-width: 671px;
  color: rgb(220, 1, 85);
  position: absolute;
  top: 0px;
  left: 30px;
  font-family: Poppins;
  font-size: 2vmax;
  opacity: 1;
  text-align: left;
}

.aviso_principal {
  width: 100%;
  height: 420px;
}

.aviso_principal #aviso {
  max-width: 745px;
  max-height: 450px;
  position: absolute;
  height: auto;
  color: rgb(220, 1, 85);
  top: 100px;
  left: 30px;
  font-family: Bebas Neue;
  font-size: 7vw;
  text-align: left;
}

.aviso_principal #imagen_preservativos {
  position: absolute;
  top: 130px;
  float: right;
  right: 15px;
  max-width: 375px;
  max-height: 369px;
  width: 30%;
}

.aviso_principal #sombras1 {
  position: absolute;
  box-sizing: border-box;
  background: rgb(220, 1, 85);
  opacity: 0.23;
  width: 100%;
  height: 500px;
  border-radius: 50%;
  top: 10vh;
  filter: blur(100px);
}

.aviso_principal #sombras2 {
  right: 5px;
  position: absolute;
  box-sizing: border-box;
  background: rgb(220, 1, 85);
  opacity: 0.23;
  width: 35%;
  height: 200px;
  border-radius: 50%;
  top: 55vh;
  filter: blur(75px);
}

.busqueda-form {
  margin-top: 20px;
}

.busqueda {
  display: flex;
  justify-content: space-evenly;
}

.busqueda__input {
  height: 30px;
  width: 65%;
  max-width: 400px;
  border: 2px solid rgb(220, 1, 85);
  border-radius: 4px;
  font-size: 1rem;
}

.busqueda__input::-moz-placeholder {
  color: rgb(220, 1, 85);
}

.busqueda__input::placeholder {
  color: rgb(220, 1, 85);
}

.busqueda__btn {
  height: 30px;
  width: 25%;
  max-width: 150px;
  padding: 0 1px;
  background-color: va rgb(220, 1, 85);
  color: whitesmoke;
  font-size: 1rem;
  border-radius: 4px;
  border: 2px solid rgb(220, 1, 85);
}

.temas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 25px;
}

.temas__contenedor {
  background-color: var(--primary-color);
  word-wrap: break-word;
  width: 80%;
  max-width: 225px;
  margin: 15px 0;
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 25px;
}

.temas__contenedor img {
  width: 90%;
}

.dudas {
  top: 37rem;
  position: absolute;
  width: 300px;
  margin: 0 0 0 30px;
}

.dudas input[type=text] {
  width: 300px;
  height: 30px;
  border: 1px solid rgb(220, 1, 85);
  color: rgb(220, 1, 85);
  border-radius: 4px;
  margin: 8px 0;
}

.dudas input[type=submit] {
  width: 85px;
  text-align: center;
  height: 30px;
  border: 1px solid rgb(220, 1, 85);
  border-radius: 5px;
  color: #F4F3F8;
  background-color: rgb(220, 1, 85);
}

::-moz-placeholder {
  color: rgb(220, 1, 85);
  opacity: 0.5;
}

::placeholder {
  color: rgb(220, 1, 85);
  opacity: 0.5;
}

.contenidos {
  position: absolute;
  margin-top: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#items {
  font-family: Bebas Neue;
  border-radius: 15px;
  color: #F4F3F8;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(220, 1, 85);
  height: 260px;
  width: 25%;
  float: left;
  margin: 30px;
}

@media screen and (min-width: 1700px) {
  .aviso_principal #aviso {
    font-size: 120px;
  }
}
@media screen and (min-width: 1100px) {
  .busqueda-form {
    padding-top: 230px;
  }
}
.busqueda-form {
  margin-top: 50px;
}

.busqueda {
  display: flex;
  justify-content: space-evenly;
}

.busqueda__input {
  height: 30px;
  width: 65%;
  max-width: 400px;
  border: 2px solid rgb(220, 1, 85);
  border-radius: 4px;
  font-size: 1rem;
}

.busqueda__input::-moz-placeholder {
  color: rgb(220, 1, 85);
}

.busqueda__input::placeholder {
  color: rgb(220, 1, 85);
}

.busqueda__btn {
  height: 30px;
  width: 25%;
  max-width: 150px;
  padding: 0 1px;
  background-color: rgb(220, 1, 85);
  color: whitesmoke;
  font-size: 1rem;
  border-radius: 4px;
  border: 2px solid rgb(220, 1, 85);
}

.temas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 25px;
  padding: 80px 25px;
}

.temas__contenedor {
  background-color: rgb(220, 1, 85);
  word-wrap: break-word;
  width: 80%;
  max-width: 225px;
  margin: 15px 0;
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 25px;
}

.temas__contenedor img {
  width: 90%;
}

.crear-cuenta {
  text-align: center;
}

.crear-cuenta h1 {
  color: rgb(220, 1, 85);
}

.cuenta__input {
  border: 2px solid rgb(220, 1, 85);
  border-radius: 5px;
  height: 1.7rem;
  margin: 5px 0;
  font-size: 1rem;
}

.cuenta__input::-moz-placeholder {
  color: rgb(220, 1, 85);
}

.cuenta__input::placeholder {
  color: rgb(220, 1, 85);
}

.cuenta__btn {
  background-color: rgb(220, 1, 85);
  height: 1.7rem;
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(220, 1, 85);
  width: 35%;
  font-size: 1rem;
}/*# sourceMappingURL=inicio.css.map */